#pogrubienie_seliak {
    font-size: 31px;
    color: #9B60D0;
    font-weight: bold;
}

#pochylona_seliak {
    font-size: 36pt;
    color: #FFC46C;
}
#index_gorny_seliak {
    font-size: 1.1cm;
    color: #AF921C;
}

#index_dolny_seliak {
    font-size: 1.7cm;
    color: rgb(29%,97%,89%);
}

#mono_seliak {
    font-size: 41px;
    color: #2FE26C;
}

#powiekszenie_seliak {
    color: #69429E;
    transform: scale(1.25);
}
#pomniejszenie_seliak {
    color: rgb(80%,65%,23%);
    transform: scale(0.75);
}
