#pogrubienie_seliak {
    font-size: 31px;
    color: rgb(155, 96, 208);
    font-weight: bold;
}

#pochylona_seliak {
    font-size: 36pt;
    color: rgb(255, 196, 108);
    font-style: oblique;
}
#index_gorny_seliak {
    font-size: 1.1cm;
    color: rgb(175, 146, 28);
    text-transform: uppercase;
}

#index_dolny_seliak {
    font-size: 1.7cm;
    color: rgb(29%,97%,89%);
    text-transform: lowercase;
}

#mono_seliak {
    font-size: 41px;
    color: rgb(47, 226, 108);
    font-family: monospace;
}

#powiekszenie_seliak {
    color: rgb(105, 66, 158);
    transform: scale(1.25);
    padding-left: 100px;
}
#pomniejszenie_mysiv {
    color: rgb(80%,65%,23%);
    transform: scale(0.75);
}
