/* blok górny */
#blok-gorny {
               width: 400pt;
               height: 4cm;
               background: red;
               border-style: rich;
               border-top: 2px solid black;
               border-bottom: 2px solid yellow;
               border-left: 4px solid purple;
               border-right: 4px solid red;
               margin: 0 auto;
}
/* blok środkowy */
#blok-srodkowy {
               width: 300pt;
               align: right;
               height: 2cm;
               background: red;
               border-style: double;
               border: 3px solid silver;
               margin: 250px;
               align-self: right;
}
/* blok dolny */
#blok-dolny {
               width: 350pt;
               height: 2cm;
               align: left;
               background: red;
               border-style: inset;
               border: 2px solid purple;
               margin: 15px;
               align-self: flex-start;
}
/*Pavlo Seliak 2G2*/
